@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5355ee3c;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 8px;
  width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 91, 52);
  cursor: pointer;
}

/* Styling Editor */
.ql-editor {
  min-height: 80vh;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding: 10px;
  background-color: #fff;
}

.ql-toolbar {
  background-color: #111827;
}

.ql-formats {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  margin: 3px;
}

.ql-editor h1 {
  font-size: 24px;
  font-weight: bold;
}

.ql-editor h2 {
  font-size: 20px;
  font-weight: bold;
}

.ql-editor h3 {
  font-size: 18px;
  font-weight: bold;
}

.ql-editor h4 {
  font-size: 16px;
  font-weight: bold;
}

.ql-editor h5 {
  font-size: 14px;
  font-weight: bold;
}

.ql-editor h6 {
  font-size: 12px;
  font-weight: bold;
}

.ql-editor p {
  margin: 0;
}